#assist.none,#assist .none{
    display: none;
}

#assist{
    display: block;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10000;
    background-color: #0008;
}
#assist p,#assist h2,#assist h3{
    color: #000;
}
#assist > section{
    margin: 0 auto;
    margin-top: 2rem;
    padding: 3rem;
    width: calc(100% - 10rem);
    max-width: 1200px;
    background-color: #fff;
}
#assist > section > div{
    margin-bottom: 2rem;
}
#assist a{
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 2rem;
    padding: 7px;
    border: none;
    background-color: #000;
    color: #fff;
}
#https{
    background-color: #f005;
    padding:1rem;
}
#https a{
    margin-bottom: 0;
}

.fss:root,.fss{
    font-size: 14px;
}
.fsm:root,.fsm{
    font-size: 17px;
}
.fsl:root,.fsl{
    font-size: 20px;
}

#assist .dc{
    background-color: #eee;
    color: #111;
}
#assist .hc{
    background-color: #fff;
    color: #000;
}
