/* reset */
body{
    background-color: #eee;
}
body,div,nav,button,header,footer,p,span,h1,h2,h3,h4,h5,a,li,ul,table,th,td,tr{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #333;
}

:root{
    font-size: 14px;
    font-family: sans-serif;
    color: #111;
}

/* scroll ber */
::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:active{
    background-color: #888;
}

/* base */
.pc{
    display: inline-block;
}
.cp{
    display: none;
}
main{
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1200px;
    min-height: calc(100vh - 5rem - 18.5rem);
}

.c{
    text-align: center;
}
a.u{
    text-decoration: dashed underline;
}
a{
    opacity: 1;
    transition: opacity 0.3s;
}
a:hover{
    opacity: 0.5;
}

h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
h3{
    margin-bottom: 0.3rem;
    font-size: 1.25rem;
}
h4{
    margin-bottom: 0.1rem;
    font-size: 1.1rem;
}
p{
    margin-bottom: 0rem;
    font-size: 1rem;
}


main > div{
    margin-bottom: 2rem;
}

/* a tag button */
.b{
    display: inline-block;
    position: relative;
    padding: 0.7rem;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
    width: 13rem;
    max-width: 100%;
    text-align: center;
    background-color: #bbb;
    transition: all 0.3s;
}
.b:hover{
    background-color: #ddd;
}
.out::after{
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    content: "\02197";
}
.in::after{
    position: absolute;
    top: 50%;
    right: 0.7rem;
    transform: translateY(-50%);
    content: "\02192";
}
/* darkmode button */
#dls{
    display: none;
}
/* header */
header{
    display: -webkit-flex;
    display: flex;
    margin-bottom: 2rem;
    height: 3rem;
}
header > div{
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1200px;
    justify-content: space-between;
}
header .logo img{
    margin-top: 1.5rem;
    transform: translateY(-50%);
    height: 2rem;
}
header ul{
    display: -webkit-flex;
    display: flex;
    transform: translateY(-50%);
    margin-top: 1.5rem;
}
header li{
    margin-left: 1rem;
}
header .dl,header .assist-i{
    margin-right: 1rem;
}
header .dl img,header .assist-i img{
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    height: 1rem;
    width: 1rem;
}

/* footer */
footer{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 11.5rem;
    background-color: #ddd;
}
footer > div{
    display: -webkit-flex;
    display: flex;
    margin: 0 auto;
    width: calc(100% - 2rem);
    max-width: 1200px;
}
.foo{
    width: 50%;
}
.foo li{
    margin-bottom: 0.5rem;
}
.foo-l{
    text-align: center;
}
.foo-r{
    display: flex;
    justify-content: center;
    align-items: center;
}
.foo-r img{
    width: 12rem;
    max-width: 80vw;
}
.foo-r > div{
    text-align: center;
}
.foo-r > div > p{
    margin-bottom: 1rem;
}
.copyright{
    margin-top: 1rem;
}

/* dark mode default contrast */
.dark body{
    background-color: #111;
    color: #eee;
}
.dark body,.dark div,.dark nav,.dark button,.dark header,.dark footer,.dark p,.dark span,.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark a,.dark li,.dark ul,.dark table,.dark th,.dark td,.dark tr{
    color: #ccc;
}
.dark ::-webkit-scrollbar-track {
    background-color: #111;
}
.dark ::-webkit-scrollbar-thumb {
    background-color: #333;
}
.dark ::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}
.dark ::-webkit-scrollbar-thumb:active{
    background-color: #777;
}
.dark .b{
    background-color: #444;
}
.dark .b:hover{
    background-color: #222;
}
.dark footer{
    background-color: #222;
}

/* dark mode high contrast */
.dark.hc body{
    background-color: #000;
    color: #fff;
}
.dark.hc body,.dark.hc div,.dark.hc nav,.dark.hc button,.dark.hc header,.dark.hc footer,.dark.hc p,.dark.hc span,.dark.hc h1,.dark.hc h2,.dark.hc h3,.dark.hc h4,.dark.hc h5,.dark.hc a,.dark.hc li,.dark.hc ul,.dark.hc table,.dark.hc th,.dark.hc td,.dark.hc tr{
    color: #fff;
}
.dark.hc ::-webkit-scrollbar-track {
    background-color: #000;
}
.dark.hc ::-webkit-scrollbar-thumb {
    background-color: #fff;
}
.dark.hc ::-webkit-scrollbar-thumb:hover{
    background-color: #fff;
}
.dark.hc ::-webkit-scrollbar-thumb:active{
    background-color: #fff;
}
.dark.hc .b{
    color: #000;
    background-color: #fff;
}
.dark.hc .b:hover{
    background-color: #000;
}
.dark.hc footer{
    background-color: #000;
}

/* light mode high contrast */
.light.hc body{
    background-color: #fff;
    color: #000;
}
.light.hc body,.light.hc div,.light.hc nav,.light.hc button,.light.hc header,.light.hc footer,.light.hc p,.light.hc span,.light.hc h1,.light.hc h2,.light.hc h3,.light.hc h4,.light.hc h5,.light.hc a,.light.hc li,.light.hc ul,.light.hc table,.light.hc th,.light.hc td,.light.hc tr{
    color: #000;
}
.light.hc ::-webkit-scrollbar-track {
    background-color: #fff;
}
.light.hc ::-webkit-scrollbar-thumb {
    background-color: #000;
}
.light.hc ::-webkit-scrollbar-thumb:hover{
    background-color: #000;
}
.light.hc ::-webkit-scrollbar-thumb:active{
    background-color: #000;
}
.light.hc .b{
    background-color: #000;
    color: #fff;
}
.light.hc .b:hover{
    background-color: #000;
}
.light.hc footer{
    background-color: #fff;
}

.dark .dark-img{
    display: inline-block;
}
.dark .light-img{
    display: none;
}
.light .dark-img{
    display: none;
}
.light .light-img{
    display: inline-block;
}


.none{
    display: none !important;
}


@media screen and (max-width:480px){
    .pc{
        display: none;
    }
    .cp{
        display: inline-block;
    }

    .b{
        width: calc(100% - 2rem)
    }

    header{
        position: fixed;
        z-index: 9999;
        width: 100%;
        height: 100vh;
        background-color: #eee;
    }
    header > div{
        display: block;
    }
    header .h-menu img{
        position: absolute;
        transform: translateY(-50%);
        top: 1.5rem;
        right: 1.5rem;
        height: 1.5rem;
        width: 1.5rem;
        margin-top: 0;
    }
    header ul{
        display: block;
        margin-top: 1rem;
        transform: none;
    }
    header ul li{
        margin: 1rem;
        border-bottom: 1px;
    }
    .h-menu img{
        margin: 0;
    }
    header .dl img,header .assist-i img{
        position: relative;
        transform: none;
        top: 0;
        width: 1rem;
    }
    header.close ul{
        display: none;
    }
    header.close {
        position: relative;
        width: auto;
        height: 3rem;
    }
    main{
        min-height: calc(100vh - 5rem - 25rem);
    }
    footer{
        height: 18rem;
    }
    .foo-l{
        text-align: left;
    }
    .to-top{
        text-align: center;
        margin-bottom: 2rem;
    }
    footer > div{
        display: block;
    }
    .dark header{
        background-color: #111;
    }
    .hc .light header{
        background-color: #000;
    }
    .hc .dark header{
        background-color: #fff;
    }
}