#news > div{
    overflow-x: scroll;
}
#news li{
    margin-top: 0.2rem;
    width: 100%;
    border-bottom: 1px solid #aaa;
}
#news li span{
    margin-right: 1rem;
    color: #111;
}
#news .kind{
    display: inline-block;
    width: 7rem;
    text-align: center;
}
.kiji h2 + p{
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: #aaa;
}
.kiji h2 + p img{
    height: 1rem;
    display: inline-block;
}
.kiji h2 + p span{
margin-right: 0.7rem;
}
.news-menuber{
    display: -webkit-flex;
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.news-menuber div{
    margin-bottom: 1rem;
}
.news-menuber div:last-child > span:last-child{
    margin-left: 1rem;
}

.dark #news li{
    border-bottom: 1px solid #555;
}
.dark #news li span{
    color: #eee;
}

@media screen and (max-width:480px){
    #news li span{
        color: #aaa;
    }
    #news li span:last-child{
        color: #111;
    }
    .dark #news li span{
        color: #555;
    }
    .dark #news li span:last-child{
        color: #eee;
    }
}

#news li:last-child{
    border-bottom: 1px solid transparent;
}